<%= form_for @customer do |f| %>
    <div class="productContainer">
    <div class="row container">
        <h1><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit Customer</h1>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Customer Name: </h4>
        </div>
        <div class="col-md-2">
            <%= f.text_field :cname, class: "input" %>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Customer Address: </h4>
        </div>
        <div class="col-md-2">
            <%= f.text_field :caddress, class: "input" %>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Customer Contact Number: </h4>
        </div>
        <div class="col-md-2">
            <%= f.number_field :ccontactn, class: "input" %>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Customer Contact Person: </h4>
        </div>
        <div class="col-md-2">
            <%= f.text_field :ccontactp, class: "input" %>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Payment: </h4>
        </div>
        <div class="col-md-2">
            <%= f.select :cpayment, ['60 days to pay', '90 days to pay', 'COD'], class: "input" %>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-1">
            <h4>Notes: </h4>
        </div>
        <div class="col-md-2">
            <%= f.text_field :cnotes, class: "input" %>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-2 col-md-offset-1">
            <%= f.submit "Submit", class: "btn btn-prmry" %>
            <%= link_to "Back", updates_list_c_path , class: "btn btn-danger" %>
        </div>
    </div>
</div>

<% end %>