<h1>Reorder Notice List</h1>
<div class="row container">
   	<div class="col-md-3"><strong></string>Product</div></strong>
   	<div class="col-md-3"><strong></string>Current Balance</div></strong>
   	<div class="col-md-3"><strong></string>Reorder Threshold</div></strong>
   	<div class="col-md-3"><strong></string>Supplier</div></strong>
</div>
<% @products.order('pname').each do |product| %>
   	<div class="col-md-3">
   	    <%= product.pname %>
   	</div>
   	<div class="col-md-3">
   	    <%= product.currquantity %>
   	</div>
   	<div class="col-md-3">
   	    <%= product.reorder %>
   	</div>
   	<div class="col-md-3">
   	    <%= product.supplier.sname %>
   	</div>
   	<br>
<% end %>
<%= link_to "Download", { :controller => "reorders", :action => "reorder", format: :pdf }, class: "btn btn-primary" %><br>