<h1>Generate New Order</h1>
<%= simple_form_for @order do |f| %>
    <%= f.label :customer %>
    <%= f.collection_select(:customer_id, Customer.all, :id, :cname) %>
     <div class="hidin">
        
        <div class="links">
            <%= link_to_add_association 'Add Product', f, :order_product_quantities, required: true, class: "btn btn-primary" %>
        </div>
        
        <div id="inflow_product_quantities" class="hidden">
            <%= f.simple_fields_for :order_product_quantities do |line| %>
                <%= render 'order_product_quantity_fields', f: line %>
            <% end %>
        </div>
        
    </div>
    <br>
    <%= f.label 'Receipt' %>
    <%= f.number_field :receipt, required: true %><br>
    <%= f.button :submit %>
<% end %>

<% @orders.each do |order| %>
    <% if order.status == true || order.total > 0 %>
        <% order.order_product_quantities.each do |prod| %>
            <% if prod.oquantity <= prod.product.currquantity %>
                <% order.status = false %>
            <% else %>
                <% order.status = true %>
                <% break %>
            <% end %>
            <% order.save %>
        <% end %>
        <% if order.status == false %>
            <%= '*Incomplete order ' %>
            <%= order.receipt %>
            <%= ' can now be fulfilled.' %> <br>
        <% end %> 
    <% end %>
<% end %>