<h1>Generate New Order</h1>
<%= simple_form_for @order do |f| %>
    <%= f.label :customer %>
    <%= f.collection_select(:customer_id, Customer.all.order('cname'), :id, :cname) %>
     <div class="hidin">
        
        <div class="links">
            <%= link_to_add_association 'Add Product', f, :order_product_quantities, required: true, class: "btn btn-primary" %>
        </div>
        
        <div id="inflow_product_quantities" class="hidden">
            <%= f.simple_fields_for :order_product_quantities do |line| %>
                <%= render 'order_product_quantity_fields', f: line %>
            <% end %>
        </div>
        
    </div>
    <br>
    <%= f.label 'Receipt' %>
    <%= f.number_field :receipt, required: true %><br>
    <%= f.button :submit %>
<% end %>


<% @print.each do |receipt| %>
    <%= '*Incomplete order ' %>
    <%= receipt %>
    <%= ' can now be fulfilled.' %> <br>
<% end %>