<h1>Add Product</h1>
<%= form_for @product do |f| %>
    <p>
        <%= f.label :supplier %><br>
        <%= collection_select(:product, :supplier_id, Supplier.all, :supplier_id, :sname) %>
    </p>
    <p>
        <%= f.label :pname, 'Name', required: true %><br>
        <%= f.text_field :pname, required: true %>
    </p>
    <p>
        <%= f.label :price, 'Price' %><br>
        <%= f.number_field :price, required: true %>
    </p>
    <p>
        <%= f.label :unit, 'Unit of Measurement' %><br>
        <%= f.select :unit, ['Sacks', 'Cartons', 'Bundles', 'Crates', 'Cans', 'Pieces', 'Rolls'], required: true %>
    </p>
    <p>
        <%= f.label :reorder, 'Reorder Point' %><br>
        <%= f.number_field :reorder, required: true %>
    </p>
    <p>
        <%= f.label :loc, 'Warehouse Location' %><br>
        <%= f.select :loc, ['A', 'B'], required: true %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>
<p>
    <%= link_to "Back", adds_index_path, class: "btn btn-danger" %>
</p>