<h1>Add Supplier</h1>
<%= form_for @supplier do |f| %>
    <p>
        <%= f.label :sname, 'Name' %><br>
        <%= f.text_field :sname, required: true %>
    </p>
    <p>
        <%= f.label :saddress, 'Address'%><br>
        <%= f.text_field :saddress, required: true%>
    </p>
    <p>
        <%= f.label :scontactn, 'Contact Number' %><br>
        <%= f.number_field :scontactn, required: true %>
    </p>
    <p>
        <%= f.label :scontactp, 'Contact Person' %><br>
        <%= f.text_field :scontactp, required: true %>
    </p>
    <p>
        <%= f.label :spayment, 'Payment Terms' %><br>
        <%= f.select :spayment, ['60 days to pay', '90 days to pay', 'COD'],required: true %>
    </p>
    <p>
        <%= f.label :snotes, 'Notes' %><br>
        <%= f.text_field :snotes, required: false %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %> 
<p>
    <%= link_to "Back", adds_index_path, class: "btn btn-danger" %>
</p>