<!DOCTYPE html>
<html>
  <head>
    <title>Gnex Commercial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <style>
      h7{
        color:white;
        font-size:20px;
        }
      body{
        background-color:#c9c9c9;
      }
      html
      {
        font-family:Arial;
      }

    </style>
 
  </head>

  <body>
 
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/" style ="font-size:50px;">G-NEX</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      
      
  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault" style ="font-size:15px;">
        
        <br>
        <br>
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to 'Add', adds_index_path %>
            </li>
            <h7> &nbsp   &nbsp |   &nbsp   &nbsp </h7>
            
            <li class="nav-item active">
             <%= link_to 'Update', updates_index_path %>
            </li>
             <h7> &nbsp   &nbsp |   &nbsp   &nbsp </h7>
             <li class="nav-item active">
             <%= link_to 'Warehouse Managers', managers_path %>
            </li>
             <h7> &nbsp   &nbsp |   &nbsp   &nbsp </h7>
             <li class="nav-item active">
             <%= link_to 'Purchasing Users', purchases_path %>
            </li>
             <h7> &nbsp   &nbsp |   &nbsp   &nbsp </h7>
             <li class="nav-item active">
             <%= link_to 'Sales Users', sales_path %>
            </li>
             <h7> &nbsp   &nbsp |   &nbsp   &nbsp </h7>
            
          <% elsif manager_signed_in? %>
            <li class="nav-item active">
              <%= link_to 'Update Balance', balances_index_path %>
            </li>
             <h7> &nbsp   &nbsp |   &nbsp   &nbsp </h7>
            <li class="nav-item active">
             <%= link_to 'Product Summary', summaries_list_path %>
            </li>
             <h7> &nbsp   &nbsp |   &nbsp   &nbsp </h7>
          <% elsif purchase_signed_in? %>
            <li class="nav-item active">
              <%= link_to 'Reorder', reorders_index_path %>
            </li>
             <h7> &nbsp   &nbsp |   &nbsp   &nbsp </h7>
            <li class="nav-item active">
             <%= link_to 'Product Summary', summaries_list_path %>
            </li>
          <% elsif sale_signed_in? %>
            <li class="nav-item active">
              <%= link_to 'New Order', orders_new_path %>
            </li>
             <h7> &nbsp   &nbsp |   &nbsp   &nbsp </h7>
            <li class="nav-item active">
             <%= link_to 'Order Availability', reminders_index_path %>
            </li>
             <h7> &nbsp   &nbsp |   &nbsp   &nbsp </h7>
            <li class="nav-item active">
             <%= link_to 'Product Summary', summaries_list_path %>
            </li>
             <h7> &nbsp   &nbsp |   &nbsp   &nbsp </h7>
          <% end %>
        </ul>
       
      
        
        
        <!---Used for the description of the user to the right --->
        
        <p class="navbar-text pull-right">
          <% if user_signed_in? %>
            Logged in as Admin: <strong><%= current_user.email %></strong>.
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% elsif manager_signed_in? %>
            Logged in as Warehouse Manager: <strong><%= current_manager.email %></strong>.
            <%= link_to "Logout", destroy_manager_session_path, method: :delete, :class => 'navbar-link'  %>
          <% elsif purchase_signed_in? %>
            Logged in as Purchasing User: <strong><%= current_purchase.email %></strong>.
            <%= link_to "Logout", destroy_purchase_session_path, method: :delete, :class => 'navbar-link'  %>
          <% elsif sale_signed_in? %>
            Logged in as Sales User: <strong><%= current_sale.email %></strong>.
            <%= link_to "Logout", destroy_sale_session_path, method: :delete, :class => 'navbar-link'  %>
          <% end %>
          </p>
        <form class="form-inline my-2 my-lg-0">
          <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
          <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        </form>
      </div>
    </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>